realtime-dashboard.json
[
    {
        "id": "b880e3a433b3aa19",
        "type": "mqtt in",
        "z": "d6fe322e7920996e",
        "name": "",
        "topic": "/data/flow/2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0482330fc531596f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 260,
        "wires": [
            [
                "d71899f8b03cb091"
            ]
        ]
    },
    {
        "id": "d71899f8b03cb091",
        "type": "function",
        "z": "d6fe322e7920996e",
        "name": "function 3",
        "func": "var temp = {};\nvar humid = {};\n\ntemp.payload = msg.payload.temp;\nhumid.payload = msg.payload.humid;\n\nreturn [temp, humid];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 260,
        "wires": [
            [
                "24dfb39f35f6e0fe",
                "05cb3bad69f3f990",
                "493eddefd684017e"
            ],
            [
                "5afad3ef924a5d18",
                "d0e2f342f83c8d22",
                "a4c219ed01d9f474"
            ]
        ]
    },
    {
        "id": "24dfb39f35f6e0fe",
        "type": "ui_text",
        "z": "d6fe322e7920996e",
        "group": "333b10b3524686fe",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "05cb3bad69f3f990",
        "type": "ui_gauge",
        "z": "d6fe322e7920996e",
        "name": "",
        "group": "333b10b3524686fe",
        "order": 3,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "493eddefd684017e",
        "type": "ui_chart",
        "z": "d6fe322e7920996e",
        "name": "",
        "group": "333b10b3524686fe",
        "order": 2,
        "width": 8,
        "height": 4,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "5afad3ef924a5d18",
        "type": "ui_text",
        "z": "d6fe322e7920996e",
        "group": "333b10b3524686fe",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Humidity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 340,
        "wires": []
    },
    {
        "id": "d0e2f342f83c8d22",
        "type": "ui_gauge",
        "z": "d6fe322e7920996e",
        "name": "",
        "group": "333b10b3524686fe",
        "order": 6,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 380,
        "wires": []
    },
    {
        "id": "a4c219ed01d9f474",
        "type": "ui_chart",
        "z": "d6fe322e7920996e",
        "name": "",
        "group": "333b10b3524686fe",
        "order": 5,
        "width": 8,
        "height": 4,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "0482330fc531596f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "good-moose.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "333b10b3524686fe",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "28adf5b60e97f2d0",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "28adf5b60e97f2d0",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]