nodered/flows.json
[
    {
        "id": "e19ac42e760457c8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5b905dee1297d1e9",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bd34c41be1ee28ba",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d45f4ee2b83a9476",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d6fe322e7920996e",
        "type": "tab",
        "label": "Flow 5",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "c9dbe0fc567e763e",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c841c603ba16f352",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.21.121.65",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0482330fc531596f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "good-moose.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "89d74666d56de711",
        "type": "influxdb",
        "hostname": "user-influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "mydb",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "bafbf3b1c4713d08",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ae07bf1812c60855",
        "type": "mqtt-broker",
        "name": "",
        "broker": "user-mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "28adf5b60e97f2d0",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "53d6596cfbb3f486",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "333b10b3524686fe",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "28adf5b60e97f2d0",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "324e515f6fd3cd18",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "28adf5b60e97f2d0",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "c2fe775fb01cfedf",
        "type": "mqtt-broker",
        "name": "",
        "broker": "203.154.91.187",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "07a48a5341fd4853",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.88.140",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB0",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": false,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "d0364774.404338",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4f53e7df.0b7da8",
        "type": "ui_group",
        "name": "LoRa-Local",
        "tab": "7f4c9baa.d989c4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7f4c9baa.d989c4",
        "type": "ui_tab",
        "name": "LoRa",
        "icon": "",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f72a471513a30f1d",
        "type": "inject",
        "z": "e19ac42e760457c8",
        "name": "button",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ิีworld",
        "payloadType": "str",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "77f90fed51daa7a4"
            ]
        ]
    },
    {
        "id": "77f90fed51daa7a4",
        "type": "function",
        "z": "e19ac42e760457c8",
        "name": "function 1",
        "func": "var count = context.get('count') || 0;\nif (count == 9) {\n    count = 0\n}\ncount++;\ncontext.set('count', count);\nmsg.payload = count;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            [
                "7e46ac84bb03e581"
            ]
        ]
    },
    {
        "id": "7e46ac84bb03e581",
        "type": "debug",
        "z": "e19ac42e760457c8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 120,
        "wires": []
    },
    {
        "id": "a213b4efd5a071fb",
        "type": "function",
        "z": "5b905dee1297d1e9",
        "name": "ALL JSON",
        "func": "var data = {\n    \"name\": \"John Doe\",\n        \"age\": 30,\n            \"isMarried\": false,\n                \"hobbies\": [\"reading\", \"gaming\", \"cooking\"],\n                    \"address\": {\n        \"street\": \"123 Main Street\",\n            \"city\": \"New York\",\n                \"country\": \"USA\"\n    }\n}\nmsg.payload = data;\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 160,
        "wires": [
            [
                "6f7fdc6f23a0bfe5",
                "643ad06c49211bed"
            ]
        ]
    },
    {
        "id": "4070a0e59e63501f",
        "type": "inject",
        "z": "5b905dee1297d1e9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "a213b4efd5a071fb"
            ]
        ]
    },
    {
        "id": "6f7fdc6f23a0bfe5",
        "type": "debug",
        "z": "5b905dee1297d1e9",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 160,
        "wires": []
    },
    {
        "id": "a16f98e6b14966b3",
        "type": "debug",
        "z": "5b905dee1297d1e9",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 240,
        "wires": []
    },
    {
        "id": "643ad06c49211bed",
        "type": "function",
        "z": "5b905dee1297d1e9",
        "name": "ADDRESS",
        "func": "msg.payload = msg.payload.address;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 240,
        "wires": [
            [
                "a16f98e6b14966b3"
            ]
        ]
    },
    {
        "id": "3b15234454f4e3c0",
        "type": "mqtt in",
        "z": "bd34c41be1ee28ba",
        "name": "",
        "topic": "test",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ae07bf1812c60855",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 550,
        "y": 100,
        "wires": [
            [
                "e7908d5146f51ecf"
            ]
        ]
    },
    {
        "id": "25010c3ac2705479",
        "type": "mqtt out",
        "z": "bd34c41be1ee28ba",
        "name": "",
        "topic": "test",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ae07bf1812c60855",
        "x": 750,
        "y": 180,
        "wires": []
    },
    {
        "id": "9fac29dfa8fdec6d",
        "type": "function",
        "z": "bd34c41be1ee28ba",
        "name": "ALL JSON",
        "func": "var data = {\n    \"name\": \"John Doe\",\n        \"age\": 30,\n            \"isMarried\": false,\n                \"hobbies\": [\"reading\", \"gaming\", \"cooking\"],\n                    \"address\": {\n        \"street\": \"123 Main Street\",\n            \"city\": \"New York\",\n                \"country\": \"USA\"\n    }\n}\nmsg.payload = data;\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 180,
        "wires": [
            [
                "25010c3ac2705479"
            ]
        ]
    },
    {
        "id": "01dfb8a94e4b0cda",
        "type": "inject",
        "z": "bd34c41be1ee28ba",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 180,
        "wires": [
            [
                "9fac29dfa8fdec6d"
            ]
        ]
    },
    {
        "id": "e7908d5146f51ecf",
        "type": "debug",
        "z": "bd34c41be1ee28ba",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 100,
        "wires": []
    },
    {
        "id": "f1d51e78e9d9268f",
        "type": "ui_button",
        "z": "d45f4ee2b83a9476",
        "name": "",
        "group": "324e515f6fd3cd18",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 100,
        "wires": [
            [
                "48f11a337c723721"
            ]
        ]
    },
    {
        "id": "3bf54dd84713bdb5",
        "type": "ui_button",
        "z": "d45f4ee2b83a9476",
        "name": "",
        "group": "324e515f6fd3cd18",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "48f11a337c723721"
            ]
        ]
    },
    {
        "id": "48f11a337c723721",
        "type": "function",
        "z": "d45f4ee2b83a9476",
        "name": "function 2",
        "func": "if (msg.payload === true){\n    msg.payload = \"Nattawat Panlawan\";\n}\nelse {\n    msg.payload = \"\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 120,
        "wires": [
            [
                "5fec520b87745523"
            ]
        ]
    },
    {
        "id": "5fec520b87745523",
        "type": "ui_text",
        "z": "d45f4ee2b83a9476",
        "group": "324e515f6fd3cd18",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Name",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "b880e3a433b3aa19",
        "type": "mqtt in",
        "z": "d6fe322e7920996e",
        "name": "",
        "topic": "/data/flow/2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0482330fc531596f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 260,
        "wires": [
            [
                "d71899f8b03cb091"
            ]
        ]
    },
    {
        "id": "d71899f8b03cb091",
        "type": "function",
        "z": "d6fe322e7920996e",
        "name": "function 3",
        "func": "var temp = {};\nvar humid = {};\n\ntemp.payload = msg.payload.temp;\nhumid.payload = msg.payload.humid;\n\nreturn [temp, humid];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 260,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cf1a2aeeeae4d60e",
        "type": "debug",
        "z": "c9dbe0fc567e763e",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 120,
        "wires": []
    },
    {
        "id": "b1e7c580a17adb45",
        "type": "function",
        "z": "c9dbe0fc567e763e",
        "name": "function 4",
        "func": "// สร้างฟังก์ชันสำหรับสุ่มค่า\nfunction getRandomValue(min, max) {\n    return Math.random() * (max - min) + min;\n}\n\n// สร้างฟังก์ชันสำหรับสร้าง JSON\nfunction generateWeatherData() {\n    const temperature = getRandomValue(20, 35).toFixed(1);\n    const humidity = getRandomValue(40, 80).toFixed(1);\n    const weatherConditions = [\"Sunny\", \"Cloudy\", \"Rainy\", \"Thunderstorms\"];\n    const weather = weatherConditions[Math.floor(Math.random() * weatherConditions.length)];\n    const windSpeed = getRandomValue(0, 20).toFixed(1);\n    const dewPoint = getRandomValue(15, 25).toFixed(1);\n    const uvIndex = getRandomValue(0, 10).toFixed(1);\n\n    const data = {\n        temperature: parseFloat(temperature),\n        humidity: parseFloat(humidity),\n        weather: weather,\n        windSpeed: parseFloat(windSpeed),\n        dewPoint: parseFloat(dewPoint),\n        uvIndex: parseFloat(uvIndex)\n    };\n\n    return data;\n}\n\n// สร้าง JSON\nconst weatherData = generateWeatherData();\n\n// ส่ง JSON ไปที่ output\nreturn { payload: weatherData };\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 120,
        "wires": [
            [
                "cf1a2aeeeae4d60e"
            ]
        ]
    },
    {
        "id": "a68105163f53416b",
        "type": "inject",
        "z": "c9dbe0fc567e763e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "b1e7c580a17adb45"
            ]
        ]
    },
    {
        "id": "35fc8496a3991fe2",
        "type": "mqtt in",
        "z": "c9dbe0fc567e763e",
        "name": "",
        "topic": "/Raiway/finaltest",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0482330fc531596f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 180,
        "wires": [
            [
                "667196b5fe04a780",
                "9c36b0d1eb842878"
            ]
        ]
    },
    {
        "id": "9c36b0d1eb842878",
        "type": "debug",
        "z": "c9dbe0fc567e763e",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 180,
        "wires": []
    },
    {
        "id": "4a15026fc32ee0e9",
        "type": "ui_text",
        "z": "c9dbe0fc567e763e",
        "group": "333b10b3524686fe",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 490,
        "y": 180,
        "wires": []
    },
    {
        "id": "88e692d7f1031849",
        "type": "ui_gauge",
        "z": "c9dbe0fc567e763e",
        "name": "",
        "group": "333b10b3524686fe",
        "order": 4,
        "width": 4,
        "height": 2,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "661639f4461b6afa",
        "type": "ui_chart",
        "z": "c9dbe0fc567e763e",
        "name": "",
        "group": "333b10b3524686fe",
        "order": 3,
        "width": 8,
        "height": 3,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "ccbe5e545cec895b",
        "type": "ui_text",
        "z": "c9dbe0fc567e763e",
        "group": "333b10b3524686fe",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Humidity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 220,
        "wires": []
    },
    {
        "id": "728a98f60a3358e2",
        "type": "ui_gauge",
        "z": "c9dbe0fc567e763e",
        "name": "",
        "group": "333b10b3524686fe",
        "order": 7,
        "width": 4,
        "height": 2,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 640,
        "y": 220,
        "wires": []
    },
    {
        "id": "7c61a7df758a0499",
        "type": "ui_chart",
        "z": "c9dbe0fc567e763e",
        "name": "",
        "group": "333b10b3524686fe",
        "order": 6,
        "width": 8,
        "height": 3,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "667196b5fe04a780",
        "type": "function",
        "z": "c9dbe0fc567e763e",
        "name": "function 5",
        "func": "var temp = {}\nvar humid = {}\nvar weather = {}\nvar wspd = {}\nvar dewp = {}\nvar uv = {}\n\ntemp.payload = msg.payload.temperature;\nhumid.payload = msg.payload.humidity;\nweather.payload = msg.payload.weather;\nwspd.payload = msg.payload.windSpeed;\ndewp.payload = msg.payload.dewPoint;\nuv.payload = msg.payload.uvIndex;\n\nreturn [temp, humid, weather, wspd, dewp, uv];",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 280,
        "wires": [
            [
                "9c36b0d1eb842878",
                "4a15026fc32ee0e9",
                "88e692d7f1031849",
                "661639f4461b6afa"
            ],
            [
                "ccbe5e545cec895b",
                "728a98f60a3358e2",
                "7c61a7df758a0499"
            ],
            [
                "956fd4376a8530c4"
            ],
            [
                "33781357c7b381b4",
                "dc922526b0b77110",
                "9bbe184c6cab4866"
            ],
            [
                "d7766d015820bd30",
                "f5f4fc9b56483c68",
                "121d259123368f8c"
            ],
            [
                "0f7d008e6a4ab180",
                "4d8052bb4585d582",
                "2fbaa672b71f6e7c"
            ]
        ]
    },
    {
        "id": "956fd4376a8530c4",
        "type": "ui_text",
        "z": "c9dbe0fc567e763e",
        "group": "333b10b3524686fe",
        "order": 1,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "Weather",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 260,
        "wires": []
    },
    {
        "id": "33781357c7b381b4",
        "type": "ui_text",
        "z": "c9dbe0fc567e763e",
        "group": "333b10b3524686fe",
        "order": 8,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "WindSpeed",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 490,
        "y": 300,
        "wires": []
    },
    {
        "id": "dc922526b0b77110",
        "type": "ui_gauge",
        "z": "c9dbe0fc567e763e",
        "name": "",
        "group": "333b10b3524686fe",
        "order": 10,
        "width": 4,
        "height": 2,
        "gtype": "gage",
        "title": "WindSpeed",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 300,
        "wires": []
    },
    {
        "id": "9bbe184c6cab4866",
        "type": "ui_chart",
        "z": "c9dbe0fc567e763e",
        "name": "",
        "group": "333b10b3524686fe",
        "order": 9,
        "width": 8,
        "height": 3,
        "label": "WindSpeed",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d7766d015820bd30",
        "type": "ui_text",
        "z": "c9dbe0fc567e763e",
        "group": "333b10b3524686fe",
        "order": 11,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "dewPoint",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 340,
        "wires": []
    },
    {
        "id": "f5f4fc9b56483c68",
        "type": "ui_gauge",
        "z": "c9dbe0fc567e763e",
        "name": "",
        "group": "333b10b3524686fe",
        "order": 13,
        "width": 4,
        "height": 2,
        "gtype": "gage",
        "title": "dewPoint",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 640,
        "y": 340,
        "wires": []
    },
    {
        "id": "121d259123368f8c",
        "type": "ui_chart",
        "z": "c9dbe0fc567e763e",
        "name": "",
        "group": "333b10b3524686fe",
        "order": 12,
        "width": 8,
        "height": 3,
        "label": "dewPoint",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "0f7d008e6a4ab180",
        "type": "ui_text",
        "z": "c9dbe0fc567e763e",
        "group": "333b10b3524686fe",
        "order": 14,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "uvIndex",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 380,
        "wires": []
    },
    {
        "id": "4d8052bb4585d582",
        "type": "ui_gauge",
        "z": "c9dbe0fc567e763e",
        "name": "",
        "group": "333b10b3524686fe",
        "order": 16,
        "width": 4,
        "height": 2,
        "gtype": "gage",
        "title": "uvIndex",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 640,
        "y": 380,
        "wires": []
    },
    {
        "id": "2fbaa672b71f6e7c",
        "type": "ui_chart",
        "z": "c9dbe0fc567e763e",
        "name": "",
        "group": "333b10b3524686fe",
        "order": 15,
        "width": 8,
        "height": 3,
        "label": "uvIndex",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 380,
        "wires": [
            []
        ]
    }
]