nodered/flows.json
[
    {
        "id": "e19ac42e760457c8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5b905dee1297d1e9",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bd34c41be1ee28ba",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d45f4ee2b83a9476",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d6fe322e7920996e",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c841c603ba16f352",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.21.121.65",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0482330fc531596f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "good-moose.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "89d74666d56de711",
        "type": "influxdb",
        "hostname": "user-influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "mydb",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "bafbf3b1c4713d08",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ae07bf1812c60855",
        "type": "mqtt-broker",
        "name": "",
        "broker": "user-mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "28adf5b60e97f2d0",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "53d6596cfbb3f486",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "333b10b3524686fe",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "28adf5b60e97f2d0",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "324e515f6fd3cd18",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "28adf5b60e97f2d0",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "f72a471513a30f1d",
        "type": "inject",
        "z": "e19ac42e760457c8",
        "name": "button",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ิีworld",
        "payloadType": "str",
        "x": 210,
        "y": 80,
        "wires": [
            [
                "77f90fed51daa7a4"
            ]
        ]
    },
    {
        "id": "77f90fed51daa7a4",
        "type": "function",
        "z": "e19ac42e760457c8",
        "name": "function 1",
        "func": "var count = context.get('count') || 0;\nif (count == 9) {\n    count = 0\n}\ncount++;\ncontext.set('count', count);\nmsg.payload = count;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 80,
        "wires": [
            [
                "7e46ac84bb03e581"
            ]
        ]
    },
    {
        "id": "7e46ac84bb03e581",
        "type": "debug",
        "z": "e19ac42e760457c8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 80,
        "wires": []
    },
    {
        "id": "a213b4efd5a071fb",
        "type": "function",
        "z": "5b905dee1297d1e9",
        "name": "ALL JSON",
        "func": "var data = {\n    \"name\": \"John Doe\",\n        \"age\": 30,\n            \"isMarried\": false,\n                \"hobbies\": [\"reading\", \"gaming\", \"cooking\"],\n                    \"address\": {\n        \"street\": \"123 Main Street\",\n            \"city\": \"New York\",\n                \"country\": \"USA\"\n    }\n}\nmsg.payload = data;\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 160,
        "wires": [
            [
                "6f7fdc6f23a0bfe5",
                "643ad06c49211bed"
            ]
        ]
    },
    {
        "id": "4070a0e59e63501f",
        "type": "inject",
        "z": "5b905dee1297d1e9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "a213b4efd5a071fb"
            ]
        ]
    },
    {
        "id": "6f7fdc6f23a0bfe5",
        "type": "debug",
        "z": "5b905dee1297d1e9",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 160,
        "wires": []
    },
    {
        "id": "a16f98e6b14966b3",
        "type": "debug",
        "z": "5b905dee1297d1e9",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 240,
        "wires": []
    },
    {
        "id": "643ad06c49211bed",
        "type": "function",
        "z": "5b905dee1297d1e9",
        "name": "ADDRESS",
        "func": "msg.payload = msg.payload.address;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 240,
        "wires": [
            [
                "a16f98e6b14966b3"
            ]
        ]
    },
    {
        "id": "3b15234454f4e3c0",
        "type": "mqtt in",
        "z": "bd34c41be1ee28ba",
        "name": "",
        "topic": "test",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ae07bf1812c60855",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 550,
        "y": 100,
        "wires": [
            [
                "e7908d5146f51ecf"
            ]
        ]
    },
    {
        "id": "25010c3ac2705479",
        "type": "mqtt out",
        "z": "bd34c41be1ee28ba",
        "name": "",
        "topic": "test",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ae07bf1812c60855",
        "x": 750,
        "y": 180,
        "wires": []
    },
    {
        "id": "9fac29dfa8fdec6d",
        "type": "function",
        "z": "bd34c41be1ee28ba",
        "name": "ALL JSON",
        "func": "var data = {\n    \"name\": \"John Doe\",\n        \"age\": 30,\n            \"isMarried\": false,\n                \"hobbies\": [\"reading\", \"gaming\", \"cooking\"],\n                    \"address\": {\n        \"street\": \"123 Main Street\",\n            \"city\": \"New York\",\n                \"country\": \"USA\"\n    }\n}\nmsg.payload = data;\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 180,
        "wires": [
            [
                "25010c3ac2705479"
            ]
        ]
    },
    {
        "id": "01dfb8a94e4b0cda",
        "type": "inject",
        "z": "bd34c41be1ee28ba",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 180,
        "wires": [
            [
                "9fac29dfa8fdec6d"
            ]
        ]
    },
    {
        "id": "e7908d5146f51ecf",
        "type": "debug",
        "z": "bd34c41be1ee28ba",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 100,
        "wires": []
    },
    {
        "id": "f1d51e78e9d9268f",
        "type": "ui_button",
        "z": "d45f4ee2b83a9476",
        "name": "",
        "group": "324e515f6fd3cd18",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 100,
        "wires": [
            [
                "48f11a337c723721"
            ]
        ]
    },
    {
        "id": "3bf54dd84713bdb5",
        "type": "ui_button",
        "z": "d45f4ee2b83a9476",
        "name": "",
        "group": "324e515f6fd3cd18",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "48f11a337c723721"
            ]
        ]
    },
    {
        "id": "48f11a337c723721",
        "type": "function",
        "z": "d45f4ee2b83a9476",
        "name": "function 2",
        "func": "if (msg.payload === true){\n    msg.payload = \"Nattawat Panlawan\";\n}\nelse {\n    msg.payload = \"\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 120,
        "wires": [
            [
                "5fec520b87745523"
            ]
        ]
    },
    {
        "id": "5fec520b87745523",
        "type": "ui_text",
        "z": "d45f4ee2b83a9476",
        "group": "324e515f6fd3cd18",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "b880e3a433b3aa19",
        "type": "mqtt in",
        "z": "d6fe322e7920996e",
        "name": "",
        "topic": "/data/flow/2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0482330fc531596f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 260,
        "wires": [
            [
                "d71899f8b03cb091"
            ]
        ]
    },
    {
        "id": "d71899f8b03cb091",
        "type": "function",
        "z": "d6fe322e7920996e",
        "name": "function 3",
        "func": "var temp = {};\nvar humid = {};\n\ntemp.payload = msg.payload.temp;\nhumid.payload = msg.payload.humid;\n\nreturn [temp, humid];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 260,
        "wires": [
            [
                "24dfb39f35f6e0fe",
                "05cb3bad69f3f990",
                "493eddefd684017e"
            ],
            [
                "5afad3ef924a5d18",
                "d0e2f342f83c8d22",
                "a4c219ed01d9f474"
            ]
        ]
    },
    {
        "id": "24dfb39f35f6e0fe",
        "type": "ui_text",
        "z": "d6fe322e7920996e",
        "group": "333b10b3524686fe",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "05cb3bad69f3f990",
        "type": "ui_gauge",
        "z": "d6fe322e7920996e",
        "name": "",
        "group": "333b10b3524686fe",
        "order": 3,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "493eddefd684017e",
        "type": "ui_chart",
        "z": "d6fe322e7920996e",
        "name": "",
        "group": "333b10b3524686fe",
        "order": 2,
        "width": 8,
        "height": 4,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "5afad3ef924a5d18",
        "type": "ui_text",
        "z": "d6fe322e7920996e",
        "group": "333b10b3524686fe",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Humidity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 340,
        "wires": []
    },
    {
        "id": "d0e2f342f83c8d22",
        "type": "ui_gauge",
        "z": "d6fe322e7920996e",
        "name": "",
        "group": "333b10b3524686fe",
        "order": 6,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 380,
        "wires": []
    },
    {
        "id": "a4c219ed01d9f474",
        "type": "ui_chart",
        "z": "d6fe322e7920996e",
        "name": "",
        "group": "333b10b3524686fe",
        "order": 5,
        "width": 8,
        "height": 4,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 420,
        "wires": [
            []
        ]
    }
]